@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');
*{
    font-family: "lato", sans-serif;
}
#reg_section{
    display: flex;
    height:100% ;
    width: 100%;
}

.left{
   width: 50%;
   background-color: lightgray;
   text-align: center;
   display: flex;
}
.left img{
    width: 500px;
    height: 500px;
    margin: auto;
    
}
.right{
    width: 50%;
    display: flex;
}
.right form{
    margin: auto auto auto 15%;
    width: 70%;

}
.right h1{
    font-size: 40px;
}


    .right .inputs
     {
    background-color: #F7F7F7;
    padding: 9px 20px;/* taille de la partie gray*/
    border: none;
    text-align: left;
    margin-bottom: 15px;/* entre name et address*/
    border-radius: 10px;
    width:60%;
    font-size: 15px;
    }
    
    
.button {
    width: 25%;
    height: 30px;
    border: 0;
    color: white;
    background: #5d64e4;
   
    border-radius: 5px;/* arrandis*/
  }

  


   

      
    
    